---
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";
import ProjectCard from "../components/ProjectCard.astro";

const projects = await getCollection("projects", (p) => !p.data.draft);
console.log(projects);
// Sort newest first if you like:
// projects.sort((a, b) => (b.data.date?.getTime() ?? 0) - (a.data.date?.getTime() ?? 0));
---

<Layout>
	<section class="wrap">
		<div class="grid">
			{
				projects.map((p) => (
					<ProjectCard
						title={p.data.title}
						href={`/projects/${p.slug}/`}
						imgSrc={p.data.cover}
						imgAlt={p.data.coverAlt}
						excerpt={p.data.excerpt}
					/>
				))
			}
		</div>
	</section>
</Layout>

<style>
	.wrap {
		padding: 2rem;
	}
	h1 {
		margin: 0 0 1rem;
		font-size: 1.6rem;
	}
	.grid {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	}
</style>
